{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login King Ice Man</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/img/king.png" />
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <!-- <link href="{% static 'css/ceo/sb-admin-2.min.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/test_login.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container right-panel-active">
        <!-- Sign Up -->
        <div class="container__form container--signup">
            <form action="{% url 'appMain:check_login' %}" class="form" id="form1" method="post">
                {% csrf_token %}
                <h2 class="form__title">Sign Up</h2>
                <input type="text" placeholder="username" class="input" />
                <input type="email" placeholder="email" class="input" />
                <input type="password" placeholder="password" class="input" />
                <button class="btn">Sign Up</button>
            </form>
        </div>

        <!-- Sign In -->
        <div class="container__form container--signin">
            <form action="{% url 'appMain:check_login' %}" class="form" id="form2" method="post">
                {% csrf_token %}
                <h2 class="form__title">Sign In</h2>
                <input type="text" placeholder="username" class="input" />
                <input type="password" placeholder="password" class="input" />
                <input type="password" placeholder="repassword" class="input" />
                <a href="#" class="link">Forgot your password?</a>
                <button class="btn">Sign In</button>
            </form>
            <hr>
            <div class="form-group">
                {% for message in messages %}
                <p>{{message}}</p> {% endfor%}
            </div>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div action="{% url 'appMain:check_login' %}" class="overlay">
                <div class="overlay__panel overlay--left" action="{% url 'appMain:check_login' %}">
                    <button class="btn" id="signIn">Sign In</button>
                </div>
                <div class="overlay__panel overlay--right" action="{% url 'appMain:check_login' %}">
                    <button class="btn" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/test_login.js' %}"></script>

</html>