{% extends "Accou/index.html" %} {% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-5">
    <h1 class="h3 mb-0 text-gray-800">รายงาน คลังสูญหาย</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i>Download</a>
</div>
<!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">ข้อมูลคลังถังน้ำแข็งสูญหาย</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>รหัสถังน้ำแข็ง</th>
                        <th>รหัสรายการ</th>
                        <th>ชื่อรายการ</th>
                        <th>รหัสเอเจนซี่</th>
                        <th>ชื่อผู้เช่า</th>
                        <th>ขนาด</th>
                        <th>หมายเหตุ</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>รหัสถังน้ำแข็ง</th>
                        <th>รหัสรายการ</th>
                        <th>ชื่อรายการ</th>
                        <th>รหัสเอเจนซี่</th>
                        <th>ชื่อผู้เช่า</th>
                        <th>ขนาด</th>
                        <th>หมายเหตุ</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>Michelle House</td>
                        <td>Integration Specialist</td>
                        <td>Sidney</td>
                        <td>37</td>
                        <td>2011/06/02</td>
                        <td>$95,400</td>
                        <td>Suki Burks</td>

                    </tr>
                    <tr>
                        <td>Suki Burks</td>
                        <td>Developer</td>
                        <td>London</td>
                        <td>53</td>
                        <td>2009/10/22</td>
                        <td>$114,500</td>
                        <td>Suki Burks</td>

                    </tr>
                    <tr>
                        <td>Prescott Bartlett</td>
                        <td>Technical Author</td>
                        <td>London</td>
                        <td>27</td>
                        <td>2011/05/07</td>
                        <td>$145,000</td>
                        <td>Suki Burks</td>

                    </tr>
                    <tr>
                        <td>Gavin Cortez</td>
                        <td>Team Leader</td>
                        <td>San Francisco</td>
                        <td>22</td>
                        <td>2008/10/26</td>
                        <td>$235,500</td>
                        <td>Suki Burks</td>

                    </tr>
                    <tr>
                        <td>Martena Mccray</td>
                        <td>Post-Sales support</td>
                        <td>Edinburgh</td>
                        <td>46</td>
                        <td>2011/03/09</td>
                        <td>$324,050</td>
                        <td>Suki Burks</td>

                    </tr>
                    <tr>
                        <td>Unity Butler</td>
                        <td>Marketing Designer</td>
                        <td>San Francisco</td>
                        <td>47</td>
                        <td>2009/12/09</td>
                        <td>$85,675</td>
                        <td>Suki Burks</td>

                    </tr>
                    <tr>
                        <td>Howard Hatfield</td>
                        <td>Office Manager</td>
                        <td>San Francisco</td>
                        <td>51</td>
                        <td>2008/12/16</td>
                        <td>$164,500</td>
                        <td>Suki Burks</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}