{% extends "ceo/index.html" %} {% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-5">
    <h1 class="h3 mb-0 text-gray-800">รายงานข้อมูล ข้อมูลค่าใช้จ่าย</h1>
    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i>Download</a> -->
</div>
<!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->
<button id="print" onClick="window.print();" class="btn btn-primary btn-pdf">PDF</button>
<a href="{% url 'appCeo:export_excel_BG' %}" class="btn btn-primary btn-excel ">Excel</a>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">ข้อมูลค่าใช้จ่าย</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>รหัสค่าใช้จ่าย</th>
                        <th>ชื่อค่าใช้จ่าย</th>
                        <th>จำนวนเงิน</th>
                        <th>ลงชื่อ</th>
                        <th>วันที่</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>รหัสค่าใช้จ่าย</th>
                        <th>ชื่อค่าใช้จ่าย</th>
                        <th>จำนวนเงิน</th>
                        <th>ลงชื่อ</th>
                        <th>วันที่</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for BG in Budg %}
                    <tr>
                        <td>{{ BG.ID_budget }}</td>
                        <td>{{ BG.Name_budget }}</td>
                        <td>{{ BG.price }}</td>
                        <td>{{ BG.staff }}</td>
                        <td>{{ BG.Date }}</td>
                    </tr>
                    {% endfor %}
                    <!-- {% for BU in Budg %} -->-->
                    <!-- <tr>
                        <td colspan="2 ">ยอดรวม</td>
                        <td>{{ BU.sum }}</td>
                    </tr>
                    {% endfor %} -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}